---
import { Sun, Moon } from "@lucide/astro";
---

<label class="swap swap-rotate btn btn-ghost rounded-full">
  <input type="checkbox" class="theme-controller" value="light" />
  <Sun class="swap-on h-5 w-5 fill-current" />
  <Moon class="swap-off h-5 w-5 fill-current" />
</label>
