---
import { Sun, Moon } from "@lucide/astro";
---

<label class="swap swap-rotate">
  <input type="checkbox" class="theme-controller" value="light" />
  <Sun class="swap-on fill-current" />
  <Moon class="swap-off fill-current" />
</label>
